{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight font-black text-main-blue">Добро пожаловать!</h1>

  <a href='/docs' class="rounded-md bg-main-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <button>Страица инструкций</button>
  </a>
</div>
{{template "footer" .}}
